* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

  body{
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
  }
  a{
    text-decoration: none;
    color: #000000;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
  }

  #logo-title{
    font-weight: 400;
    margin-left: 2.5em;
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin-right: 2.5em;
  }

  li{
    margin-right: 2em;
    cursor: pointer;
  }

  li:hover {
    color: #000000;
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
  }

  /* -------------- LABORATORIO ---------------- */

  #logo-fita-lab{
    height: 5em;
    margin-top: -1.5em;
    margin-left: 2em;
  }

  hr {
    margin-top: -1.5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 1px;
  }

  #hr-b{
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .alert-error{
    margin-top: 1em;
    margin-left: 23.2em;
    color: #f85521;
    font-size: 12px;
    font-weight: 600;
  }

  #icon-error{
    height: 15px;
    margin-bottom: -0.25em;
  }

  .alert-hide{
    visibility: hidden;
    font-size: 12px;
    margin-top: 1em;
  }

  .lab{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    margin-top: 1em;
  }

  #lab-area{
    width: 45%;
    height: 16em;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.6);
  }

  #title-lab{
    padding: 2em;
    font-weight: 700;
    color: #267424;
  }

  form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

 #imageFile::file-selector-button {
  display: none;
}

#imageFile{
  width: 8.5em;
  margin-left:  1.5em;
  margin-top: 0.55em;
  padding: 0.7em 1em 0.7em 1em;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.file{
   background-color: #F6F2F2;
   border: 1.5px solid #267424;
   border-radius: 10px;
   display: flex;
   overflow-x: hidden;
   cursor: pointer;
}

#p-input-file{
  border-right: 1px solid #267424;
  border-radius: 7px 0px 0px 8px;
  padding-right: 1em;
  padding: 0.7em 3em 0.7em 3em;
  font-weight: 600;
  height: 100%;
}


#upload-icon{
  height: 1.7em;
  margin-bottom: -0.4em;
  margin-right: 0.5em;
}

.buttons-form{
display: flex;
align-self: flex-end;
justify-self: flex-end;
margin-right: 1.9em;
margin-top: 2.5em;
gap: 1em;
}

#b-reset{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #267424;
  background-color: rgba(217, 217, 217, 0.0);
  padding: 0.7em 1.5em 0.7em 1.5em;
  border-radius: 5px;
  cursor: pointer;

}

#b-reset:hover {
  background-color: rgba(217, 217, 217, 0.6);
}

#b-submit{
  background-color: #267424;
  padding: 0.7em 1em 0.7em 1em;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

#b-submit:hover {
  background-color: #194e18;
}


/* -------------- RESULTADO -------------- */

.resultado-area{
  width: 37.5%;
  height: 19em;
  background-color: rgba(233, 233, 233, 0.6);
  box-shadow: 2px 2px 4px #adadad;
  margin: auto;
  margin-top: -2em;
  /* margin-bottom: 3.5em; */
  border-radius: 10px;
  padding: 1.5em;
}

.focos-head{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1em;
}

.focos{
  margin-top: 2em;
  height: 15em;
  overflow:auto; 
}

.img-foco{
  display: flex;
  padding: 0.8em;
  margin-top: 0.2em;
  margin-left: 0.5em;
  background-color: #FAFAFA;
  align-items: center;
  justify-content: space-between;
}

/* .img-foco:hover {
  background-color: rgba(248, 85, 33, 0.7);
} */

span{
  margin-left: 2em;
}

.icons{
  display: flex;
  gap: 1em;
}

#title-resultado-burn{
  font-weight: 700;
  margin-left: 0.5em;
  color: #f85521;
}

#title-resultado-noburn{
  font-weight: 700;
  margin-left: 0.5em;
  color: #267424;
}

#p-resultado{
  font-weight: 600;
  text-align: right; 
}

#p-resultado:focus {
  outline: none;
}


/* ----------------- FOOTER --------------------- */

.realizacao{
  display: block;
  font-weight: 500;

}

.apoio{
  display: block;
  margin-right: -3em;
  font-weight: 500;
}

#img-lg-ifam{
  margin-top: 2em;
}

#img-lg-fapeam{
  margin-top: 2em;
}

.ftr-apoio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  width: 100%;
  padding: 2em 0em 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------- MODAL --------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 5em;
  padding: 20px;
  /* border: 1px solid #888; */
  border-radius: 10px;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 0.5em;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#view-name{
  margin-top: 0.5em;
  margin-bottom: -1em;

}

.img-view{
  margin-top: 2em;
  margin-left: 1.5em;
}